div.header
    img.logo(src='/img/favicon.png', alt='CompanyLogo')    
    div.header-right
        a(href=`${url}/signup`) SIGN UP
        a(href=`${url}/api/signin`) LOGIN
        a(href=`${url}/signin`) About
