
div.header
    img.logo(src='/img/favicon.png', alt='CompanyLogo')    
    div.header-right
        if !user
            a(href='/signup') SIGN UP
            a(href='/login') LOGIN
            a(href='/api/signin') About
        else
            span.user-name= user.name
            a(href='/api/signout') Sign out 
