
div.header
    img.logo(src='/img/favicon.png', alt='CompanyLogo')    
    div.header-right
        a(href='/signup') SIGN UP
        a(href='/api/signin') LOGIN
        a(href='/api/signin') About
